{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Торговые точки {% endblock %}</title>
    <link href="statics/style.css" rel="stylesheet">
</head>
<body>
 <h1>Список точек</h1>
{% for store in objects %}
    <style>
        a {
         color: black;
         text-decoration: none;

        }

        </style>
    <p>
    <ul>
        <li><a href="{% url 'start_visit' store.id %}">{{ store }}</a></li>

    </ul>

    </p>
{% endfor %}
  <h4><a href="{% url 'home_page' %}">На начальную страницу</a></h4>
</body>
</html>
